/* Components
------------------------------------------------------------*/

.c-loading {
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  background-color: #ecb0ba;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &_container {
    width: 100%;
    height: 100%;
  }

  &_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;

    @include maxW(1023px) {
      top: 48%;
      left: 51%;

      svg {
        width: 268.26px;
        height: auto;
      }
    }
  }

  &_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: $main-bg-cl;
  }
}

.c-logo {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 25px 30px 15px 20px;
  z-index: 1000;

  opacity: 0;

  display: flex;
  align-items: flex-end;
  width: calc(461.1px + 60px);
  height: fit-content;

  svg {
    width: 100%;
    height: auto;
  }

  &.is-done {
    .eCae4SwJrFf5,
    .eCae4SwJrFf9,
    .eCae4SwJrFf14,
    .eCae4SwJrFf16 {
      opacity: 1 !important;
    }

    .eCae4SwJrFf28,
    .eCae4SwJrFf23 {
      stroke-dashoffset: 0 !important;
    }

    .eCae4SwJrFf31 {
      opacity: 0 !important;
    }
  }

  @include maxW(1023px) {
    align-items: center;
    width: calc(224.93px + 76px);
    padding: 20px 20px 0;

    svg {
      transform: translateY(-30px);
    }
  }
}

.c-scrolldown {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  z-index: 1000;
  opacity: 0;
  background-color: rgba($color: #4d4d4d, $alpha: 0.2);

  span {
    display: block;
    width: 1px;
    height: 200px;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      animation: scrolldown 2.2s infinite;
      background-color: #4d4d4d;
    }
  }

  @keyframes scrolldown {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    51% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }

  @include maxW(1023px) {
    top: auto;
    right: 50%;
    bottom: 0;
    transform: translateX(-50%);

    span {
      height: 45px;
    }
  }
}

.c-articles {
  h2 {
    font-family: $en-fonts;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 1.12px;
    line-height: 1.5;
  }

  @include maxW(1023px) {
    h2 {
      font-size: 2rem;
      letter-spacing: 0.8px;
    }
  }

  &_list {
    margin-top: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 44px 20px;

    @include maxW(1023px) {
      margin-top: 34px;
      grid-template-columns: repeat(1, 1fr);
      gap: 34px;

      &.col2-sp {
        grid-template-columns: repeat(2, 1fr);
        gap: 34px 15px;

        figure {
          padding-bottom: calc((118 / 180) * 100%);
        }

        h3 {
          margin-top: 15px;
          font-size: 1.3rem;
          letter-spacing: -0.52px;
        }

        p {
          margin-top: 10px;
          font-size: 1.2rem;
          letter-spacing: 0.48px;
        }
      }
    }
  }

  &_items {
    figure {
      display: block;
      z-index: 1;
      position: relative;
      height: 100%;
      height: auto;
      padding-bottom: calc((298 / 447) * 100%);
      background-color: #ccc;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      margin-top: 25px;
      font-size: 1.9rem;
      font-weight: 500;
      letter-spacing: -0.76px;
      line-height: 1.5;
      text-align: justify;
    }

    p {
      margin-top: 16px;
      font-family: $en-fonts;
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 0.64px;
      line-height: 1.5;
      opacity: 0.7;
    }

    @include maxW(1023px) {
      figure {
        padding-bottom: calc((245 / 374) * 100%);
      }

      h3 {
        margin-top: 20px;
        font-size: 1.6rem;
        letter-spacing: -0.64px;
      }

      p {
        margin-top: 16px;
        font-size: 1.3rem;
        letter-spacing: 0.52px;
      }
    }
  }
}
