/* Utils
------------------------------------------------------------*/

/* data fadein */

[data-fadein] {
  opacity: 0;
  transition: 1s;

  &.--visible {
    opacity: 1;
  }
}

/* lazy load */
.lazy {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.loaded {
    opacity: 1;
  }
}

/* change fill line2 with device width */

@include minW(1601px) {
  .u-line2-path {
    fill: #e9c7ca;
  }
}

@include minW(1791px) {
  .u-line2-path {
    fill: #e7c0c5;
  }
}

@include minW(2021px) {
  .u-line2-path {
    fill: #e5bbc0;
  }
}

@include minW(2151px) {
  .u-line2-path {
    fill: #ecb0ba;
  }
}

/* only device */

.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
