/* variables
------------------------------------------------------------*/
$base-width: 1920px;

$main-fonts: "ryo-text-plusn", "ivypresto-display", serif;
$en-fonts: "ivypresto-display", serif;

//color common
$main-bg-cl: #f4eee6;
$main-text-cl: #4d4d4d;
$black-cl: #000;
$white-cl: #fff;
$brown-cl: #e5ded2;

:root {
  --app-height: 100vh;
}
